button {
    @extend .btn-primary;
}

button, .btn {
    @extend .btn;
    font-weight: 600 !important;
    text-transform: uppercase;
    border-radius: $border-radius;
    border: 2px solid !important;
}

input:not([type="checkbox"]) {
    @extend .form-control;
}

input[type="checkbox"] {
    @extend .form-check-input;

    + label {
        @extend .form-check-label;
    }
}

textarea {
    @extend .form-control;
}