body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100vh;
    color: #28375a;

    a {
        color: $primary;

        &:hover,
        &:active {
            @include alpha-color( $primary );
            text-decoration: none;
        }

    }
}

button {
    @extend .btn-primary;
}

button, .btn {
    @extend .btn;
    font-weight: 600 !important;
    text-transform: uppercase;
    border-radius: $border-radius;
}

input:not([type="checkbox"]):not([type="radio"]) {
    @extend .form-control;
}

input[type="checkbox"] {
    @extend .form-check-input;

    + label {
        @extend .form-check-label;
    }
}

textarea {
    @extend .form-control;
}