// Colors
$primary:   #5a00f0;
$dark: #16003c;
$light:   #e9edf7;

$gradient: linear-gradient(190deg, #1e0051, #3b009e);

$theme-colors: (
  primary: $primary,
  dark: $dark,
  light: $light
);

// Shaped
$border-radius: 3px;