body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100vh;
    color: #28375a;

    a {
        color: $primary;

        &:hover,
        &:active {
            @include alpha-color( $primary );
            text-decoration: none;
        }

    }
}