.woobits-comments {
    @extend .row;
    margin-bottom: 2em;

    .wrapper {
        @extend .col-12;

        .heading {
            @include widget-title();
        }

        .list {

            .comment {
                display: flex;
                background-color: $light;
                padding: 1em;
                margin-bottom: 1em;
                border-radius: $border-radius;

                .comment-box {
                    display: flex;
                    flex-direction: column;
                    margin-left: 1em;

                    .comment-meta {
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        margin-bottom: .5em;

                        .comment-author, .url {
                            font-weight: bold;
                        }

                        .clear {
                            width: 2em;
                        }
    
                        .comment-date {
                            font-size: small;
                        }
                    }
                }

                p {
                    margin-bottom: .5em;
                }
            }

        }

        .comment-respond {
            .comment-form-comment {
                margin-bottom: 1em;

                textarea {
                    width: 100%;
                }
            }

            .comment-form-cookies-consent {
                @extend .form-check;
            }

            .submit {
                @extend .btn-block, .btn-primary;
            }
        }
    }
}