.woobits-content {
    .navigation {
        display: flex;
        justify-content: space-between;
        padding-top: 2em;
        padding-bottom: 2em;

        .link {
            text-transform: uppercase;
            font-weight: 600;

            a {
                display: flex;
                align-items: center;
            }
        }

        .previous a {
            &::before {
                font-family: 'dashicons';
                content: '\f341';
                font-size: 1.5em;
                margin-right: .15em;
            }
        }

        .next a {
            &::after {
                font-family: 'dashicons';
                content: '\f345';
                font-size: 1.5em;
                margin-left: .15em;
            }
        }
    }

    .categories, .tags {
        display: flex;
        flex-wrap: wrap;
        padding-top: 1em;
        padding-bottom: 1em;
        line-height: 2.5em;

        .heading {
            font-weight: 600;
        }

        .category, .tag {
            font-size: small;
            font-weight: 600;
            padding: .5em .75em;
            margin: .5em;
            border-radius: 20%/50%;
        }

        .category {
            background-color: $primary;
            color: white;

            &:hover {
                background-color: $light;
                color: $primary;
            }
        }

        .tag {
            background-color: $light;

            &:hover {
                background-color: $primary;
                color: white;
            }
        }
    }
}