.woobits-site-footer {
    @extend .jumbotron, .jumbotron-fluid;
    background: linear-gradient(190deg, #1e0051, #3b009e);
    color: white;
    margin-bottom: 0;

    a {
        color: inherit;

        &:hover {
            @include alpha-color( white );
        }
    }

    .sidebars {
        @extend .container, .d-flex, .flex-column, .flex-md-row;

        .widget {
            @extend .col-12, .col-md-3;

            .title {
                font-weight: 700;
                margin-bottom: 0.75em;
            }

            ul {
                list-style-type: none;
            }

            * {
                padding-left: 0;
                margin-left: 0;
            }
        }
    }
}

.woobits-copyright {
    width: 100%;
    padding: .75em;
    // background-color: #16003c;
    background-color: $dark;
    color: white;
    font-size: small;
    text-align: center;
}