.woobits-wrapper {
    display: flex;
    flex-grow: 1;
    margin: 2em 1em
}

.woobits-container {
    @extend .container-fluid, .d-flex, .flex-column, .flex-lg-row, .justify-content-lg-between;
}

#primary {
    @extend .d-lg-flex, .mb-4, .mb-lg-0, .flex-lg-fill, .order-lg-1;

    #main {
        width: 100%;
    }
}

#secondary {
    @extend .d-lg-flex;
    width: 100%;

    .widget {
        width: 100%;
    }
}

#secondary.shop {
    @extend .order-lg-0;

    @media screen and (min-width: 992px) {
        width: 25%;
        height: max-content;
        padding-right: 2em;
    }
}

#secondary.product, #secondary.blog {
    @extend .order-lg-2;

    @media screen and (min-width: 992px) {
        width: 35%;
        height: max-content;
        padding-left: 2em;
    }
}