.woobits-main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.woobits-content {
    @extend .container-fluid;
}

.woobits-row {
    @extend .row;
    padding: 2em;
}

#primary {
    @extend .order-lg-1;
}

#primary:not(.with-sidebar)  {
    @extend .col-12;
}

#primary.with-sidebar  {
    @extend .col-12, .col-lg-8;
}

#primary.with-sidebar-shop  {
    @extend .col-12, .col-lg-9;
}

#primary #main {
    width: 100%;
}

#secondary {
    @extend .mt-4, .mt-lg-0, .col-12, .col-lg-4, .order-lg-2;
}

#secondary.shop {
    @extend .mt-4, .mt-lg-0, .col-12, .col-lg-3, .order-lg-0;
}