// Product Page
.woocommerce-product-gallery, .summary {
    float: none !important;
    width: 100% !important;
} 

.woocommerce div.product form.cart .variations select {
    display: none;
}

.woocommerce div.product form.cart .variations td.label {
    display: none;
}

.variation-radios .form-check {
    line-height: normal;
}

// .price {
//     font-size: larger;
//     font-weight: bold;
// }

// .variations {
//     width: 100%;

//     tr {
//         display: flex;
//         flex-direction: column;
//     }
// }

// Shop Page
.woocommerce ul.products li.product a img {
    margin-bottom: 0;
}

.woocommerce-loop-product__title, .price {
    color: black !important;
    font-weight: bold !important;
}

// Cart
.woocommerce-cart-form {
    .shop_table {
        border: 0 !important;

        th, tr, td {
            border: 0 !important;
        }

        .cart_item {
            margin: 1em .5em;
            padding: .5em;
            background-color: $light;
            border: 1px solid grey !important;
            border-radius: $border-radius;
        }

        .product-thumbnail {
            display: block !important;
            text-align: center !important;

            &:before {
                content: '' !important;
            }

            img {
                width: 50%;
            }
        }

        .quantity input {
            float: right;
        }

        .product-subtotal {
            clear: both;
        }

        .actions {
            border-top: 0 !important;

            button {
                @extend .btn, .btn-primary;
            }

            button[name="update_cart"] {
                @extend .btn-sm;
            }
        }

        @media screen and (min-width: 769px) {

            th {
                border-bottom: 2px solid black !important;
            }

            .cart_item {
                background-color: transparent;
            }

            .product-thumbnail {
                text-align: left !important;
    
                img {
                    width: 125px;
                }
            }

            .quantity input {
                float: none;
            }

            .actions {
                border-top: 2px solid black !important;
                padding-top: 1em !important;

                #coupon_code {
                    width: 200px;
                }
            }
        }
    }
}

.cart-collaterals {
    .wc-proceed-to-checkout {
        .checkout-button.button.alt.wc-forward {
            @extend .btn, .btn-block, .btn-primary;
        }
    }
}