//General
.woocommerce {
    .col-1, .col-2 {
        max-width: none;
    }

    label {
        margin-bottom: 0;
    }

    .form-row {
        display: block;
    }

    .woocommerce-form__input-checkbox {
        position: relative;
        margin-left: 0;
    }
}

.star-rating {
    color: #FEDB00;
}
    
// Product Page
.woocommerce-product-gallery, .summary {
    float: none !important;
    width: 100% !important;
} 

.woocommerce div.product p.price, 
.woocommerce div.product span.price, 
.woobits-purchase-modal .price {
    font-size: 1.5em !important;
    font-weight: bold;
    text-align: center;
}

.woocommerce div.product form.cart,
.woobits-purchase-modal form.cart {
    margin-bottom: 0;

    .variations {
        margin-bottom: 0;

        select, td.label {
            display: none;
        }

        .variation-radios {
            .form-check {
                line-height: normal;
                margin-bottom: .5em;
            }
        
            .active {
                color: $primary;
            }
        }
    }

    .single_variation_wrap {
        .woocommerce-variation-price {
            display: none;
        }

        .button {
            @extend .btn, .btn-block, .btn-primary;
        }

    }
}

// .woocommerce div.product form.cart .variations {
//     margin-bottom: 0;
// }

// Product Reviews
.woocommerce .product-reviews {
    .review-title {
        @include widget-title();
    }

    .woocommerce-Reviews-title {
        display: none;
    }

    .commentlist {
        padding-left: 0 !important;
    }

    .avatar {
        display: none;
    }

    .comment-reply-title {
        font-size: 1.5em;
    }

    .comment-form-cookies-consent {
        @extend .form-check;

        input {
            @extend .form-check-input;
        }

        label {
            @extend .form-check-label;
        }
    }
}

.woocommerce #reviews #comments ol.commentlist li .comment-text {
    background-color: $light;
    margin-left: 0;
}

.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
    @extend .btn, .btn-primary;
}

.woocommerce #reviews #comment {
    height: auto;
}

// Shop Page
.woocommerce ul.products li.product a img {
    margin-bottom: 0;
}

.woocommerce-loop-product__title, .price {
    color: black !important;
    font-weight: bold !important;
}

// Cart
.woocommerce-cart-form {
    .shop_table {
        border: 0 !important;

        th, tr, td {
            border: 0 !important;
        }

        .cart_item {
            margin: 1em .5em;
            padding: .5em;
            background-color: $light;
            border: 1px solid grey !important;
            border-radius: $border-radius;
        }

        .product-thumbnail {
            display: block !important;
            text-align: center !important;

            &:before {
                content: '' !important;
            }

            img {
                width: 50%;
            }
        }

        .quantity input {
            float: right;
        }

        .product-subtotal {
            clear: both;
        }

        .actions {
            border-top: 0 !important;

            button {
                @extend .btn, .btn-primary;
            }

            button[name="update_cart"] {
                @extend .btn-sm;
            }
        }

        @media screen and (min-width: 769px) {

            th {
                border-bottom: 2px solid black !important;
            }

            .cart_item {
                background-color: transparent;
            }

            .product-thumbnail {
                text-align: left !important;
    
                img {
                    width: 125px;
                }
            }

            .quantity input {
                float: none;
            }

            .actions {
                border-top: 2px solid black !important;
                padding-top: 1em !important;

                #coupon_code {
                    width: 200px;
                }
            }
        }
    }
}

.cart-collaterals {
    .wc-proceed-to-checkout {
        .checkout-button.button.alt.wc-forward {
            @extend .btn, .btn-block, .btn-primary;
        }
    }
}

// Checkout
.woocommerce-checkout {
    .woocommerce-billing-fields h3, .woocommerce-additional-fields h3, #order_review_heading {
        @include widget-title();
        text-transform: none;
        text-align: center;
    }

    .woocommerce-billing-fields, .woocommerce-additional-fields {
        margin-bottom: 2em;
    }

    form .form-row input.input-text, .woocommerce form .form-row textarea {
        padding: .6180469716em;
        background-color: $light;
        color: #43454b;
        outline: 0;
        -webkit-appearance: none;
        box-sizing: border-box;
        font-weight: 400;
        border-radius: $border-radius;
        border: solid 2px $light;
    }

    .form-row textarea {
        min-height: 10em;
        height: auto;
    }

    .woocommerce-checkout-payment {
        background-color: $light !important;
    }

    #place_order {
        @extend .btn, .btn-primary;
    }

    .woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1,.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
        float: left;
        width: 100%;
        padding-right: 0;
        padding-left: 0;
    }
    
    @media screen and (min-width: 980px) {
        .woocommerce-shipping-fields h3, .woocommerce-billing-fields h3 {
            width:100%;
        }
    
        .woocommerce .col2-set, .woocommerce-page .col2-set {
            width: 48%;
            float: left;
        }
    
        .woocommerce-checkout-review-order, #order_review_heading  {
            width: 48%;
            float: right;
        }
    }

}

// My Account - Login & Register Page
.woocommerce-account {
    .woocommerce-form-login, .woocommerce-form-register {
        background-color: $light;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    .u-column1 h2, .u-column2 h2 {
        @include widget-title();
        text-transform: none;
        text-align: center;
        margin-bottom: 0;
    }

    .woocommerce-MyAccount-navigation {
        ul {
            list-style-type: none;
            padding-left: 0;

            li {
                line-height: 2;
            }
        }
    }

    @media screen and (min-width: 769) {
        ul {
            margin-bottom: 0 !important;
        }
    }
}
