// Layout
.woocommerce {
    #primary {
        @extend .d-lg-flex, .flex-lg-fill, .order-lg-1;
    }

    #secondary.shop, #secondary.product {
        @extend .d-lg-flex;

        @media screen and (min-width: 992px) {
            width: 25%;
            height: max-content;
            padding-right: 2em;
        }

        & > .widget {
            width: 100%;
        }
    }

    #secondary.shop {
        @extend .order-lg-0;
    }

    #secondary.product {
        @extend .order-lg-2;
    }

}



// Product Page
.woobits-content, .woobits-sidebar {

    // Clear attributes added by woocommerce. 
    .woocommerce-product-gallery, .summary {
        float: none !important;
        width: 100% !important;
    } 

    .price {
        font-size: larger;
        font-weight: bold;
    }

    .variations {
        width: 100%;

        tr {
            display: flex;
            flex-direction: column;
        }
    }
}

// Shop Page
    .woocommerce ul.products li.product a img {
        margin-bottom: 0;
    }

    .woocommerce-loop-product__title, .price {
        color: black !important;
        font-weight: bold !important;
    }

// Cart
.woocommerce-cart-form {
    .shop_table {
        border: 0 !important;

        th {
            border-bottom: 2px solid black !important;
        }

        .actions {
            border-top: 2px solid black !important;
            padding-top: 1em !important;

            .coupon {
                @extend .input-group;
        
                @media screen and (min-width: 769px) {
                    width: 60%;
                }
    
                button {
                    @extend .btn, .btn-primary;
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        .shop_table {

            th, tr, td {
                border: 0 !important;
            }
    
            .cart_item {
                margin: 1em .5em;
                padding: .5em;
                background-color: $light;
                border: 1px solid grey !important;
                border-radius: $border-radius;
            }
    
            .product-thumbnail {
                display: block !important;
                text-align: center !important;
    
                &:before {
                    content: '' !important;
                }
            }

            .quantity input {
                float: right;
            }

            .product-subtotal {
                clear: both;
            }
    
            .actions {
                border-top: 0 !important;
            }
        }
    }
}

.cart-collaterals {
    .wc-proceed-to-checkout {
        .checkout-button.button.alt.wc-forward {
            @extend .btn, .btn-primary;
            width: 100%;
        }
    }
}