.woobits-sidebar-widget {
    background-color: $light;
    padding: 1.5em;
    margin-bottom: 1.5em;
    border-radius: $border-radius;

    .title {
        background: linear-gradient(190deg, #1e0051, #3b009e);
        text-align: center;
        color: white;
        font-weight: 600;
        text-transform: uppercase;
        margin: -1.5em -1.5em 1.5em -1.5em;
        padding: 1.5em;
        border-radius: $border-radius;
    }
}

.woobits-product-feature-widget {
    @extend .container;

    .wrapper {
        @extend .row;
        justify-content: space-between;
        flex-wrap: nowrap;
        padding-top: .5em;
        padding-bottom: .5em;

        span {
            max-width: 45%;
        }

        .name {
            font-weight: 600;
        }
    }
}